---
const {img ,alt, title, link} = Astro.props;
---
<a href=`${link}` target="_blank" rel="noopener noreferrer" class="CardProyect">
    <img src=`/${img}` alt={alt} class="imgProyect">
    <div class="bottom">
        <div class="text">
            <p>click here to visit</p>
            <h4>{title}</h4>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"/>
        </svg>
    </div>
</a>
<style>
    .CardProyect{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 300px;
        border-radius: 20px;
        background-color: var(--card-background);
        margin: 1rem;
        text-decoration: none;
        color: var(--principal-text);
    }
    .imgProyect{
        width: 400px;
        max-height: 230px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    .bottom{
        display: flex;
        align-items: center;
        padding: 1rem;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .text{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
    p{
        font-size: 0.8rem;
        color: var(--secondary-text);
        margin:0;
    }
    h4{
        font-size: 1.2rem;
        font-weight: 600;
        margin:0;
        
    } 
 
    svg{
        color: var(--principal-text);
        width: 1.5rem;
        height: 1.5rem;
        padding-right: 1rem;
    }
    @media (max-width: 768px) {
        .CardProyect{
            width: 100%;
            max-width: 350px;
            height: auto;
            justify-content: center;
            align-items: center;
        }
        h4{
            font-size: 1rem;
        }
        p{
            font-size: 0.8rem;
        }
    }
    @media (max-width: 480px) {
        .CardProyect{
            width: 100%;
            height: auto;
        }
        h4{
            font-size: 1rem;
        }
        p{
            font-size: 0.8rem;
        }
    }
    
</style>
