---
import ExperienceCards from "./ExperienceCards.astro";
---
<div class="experiences" id="experience">
    <h3 class="text-gradient" id="experience">EXPERIENCES</h3>
    <div class="cards">
        <ExperienceCards img="logo_crobf.svg" alt="CROBF SA." title=" CROBF | Cofundador & Líder de Desarrollo" date="Diciembre 2024 - Presente" description="Diseño e implementación de aplicaciones web y microservicios (Flask, Astro, Node.js) con despliegue en vercel"/>
        <ExperienceCards img="HexaLogo.png" alt="Hexadev Academy logo" title="Hexadevs Academy | Full-Stack developer, Coordinador de Cursos & Mentor" date="Febrero 2025 - Presente" description="Diseño y creación de cursos de Ciencia de Datos: introducción a Python, análisis y visualización de datos con Pandas, NumPy y Matplotlib."/>
    </div>
</div>
<style>
    .experiences{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .text-gradient {
    color: #5CADFF; 
    background-image: linear-gradient(180deg, #5CADFF 0%, #1372D1 100%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
    font-size: 45px;
    }
    h3{
        font-size: 2rem;
        color: var(--principal-text);
        margin-bottom: 2rem;
    }
    @media (max-width: 768px) {
        h3{
            font-size: 1.5rem;
        }
    }
    @media (max-width: 480px) {
        h3{
            font-size: 1.2rem;
        }
    }
    @media (max-width: 768px) {
        .cards{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
</style>